<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd ">Only show odd number</button>
      <hr>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
           <li
            class="list-item-group"
            [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"
            *ngFor="let odd of oddNumbers">{{ odd }}
          </li>
        </div>
       <!--<div *ngIf="!onlyOdd">
            <li
            class="list-item-group"
            [ngClass]="{even: even % 2 == 0}"
            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
            *ngFor="let even of evenNumbers">{{ even }}
          </li>
        </div>-->
        <!--Below line is same as above because angular treat every structural directive like this internally and we know that structural directive must start with * -->
        <!--<ng-template [ngIf]="!onlyOdd">
        <div>
          <li
          class="list-item-group"
          [ngClass]="{even: even % 2 == 0}"
          [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
          *ngFor="let even of evenNumbers">{{ even }}
        </li>
      </div>
    </ng-template>-->
    <div *appUnless="onlyOdd">
      <li
      class="list-item-group"
      [ngClass]="{even: even % 2 == 0}"
      [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
      *ngFor="let even of evenNumbers">{{ even }}
    </li>
  </div>
 </ul>
      <p appBasicHighlight>Style me with Basic Directive</p>
<!--<p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with Better Directive</p>-->
      <p [appBetterHighlight]= "'red'" [defaultColor]="'yellow'" >Style me with Better Directive</p>
<div [ngSwitch]="value">
   <div *ngSwitchCase="5">Value is 5</div>
   <div *ngSwitchCase="10">Value is 10</div>
   <div *ngSwitchCase="100">Value is 100</div>
   <div *ngSwitchDefault>Value is default</div>
 </div>
    </div>
  </div>
</div>
